{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-blue uncial-text text-center my-3">Weekly Events</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-blue text-center">
                Please check our special events.<br>
                If a special event is on, our usual events are subject to change.<br>
                Outside of event times, people are more than welcome to come and play for free on our
                wide range of tables both upstairs and down!
            </p>
        </div>
    </div>
    <div class="event-box w-25">
        <div class="row">
            <div class="col">
                <h5 class="uncial-text text-center my-3"><b>Monday</b></h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">No events yet</p>
            </div>
        </div>
    </div> 
    <div class="event-box w-50">
        <div class="row">
            <div class="col">
                <h5 class="uncial-text text-center my-3"><b>Tuesday</b></h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">
                    <b>Games Workshop</b><br>
                    5pm til late!<br>
                    Come on down and try your hand at Warhammer. We have tables both downstairs and up.<br>
                    Everyone welcome!
                </p>
            </div>
        </div>
    </div>
    <div class="event-box w-50">
        <div class="row">
            <div class="col">
                <h5 class="uncial-text text-center my-3"><b>Wednesday</b></h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">
                    <b>D&D</b><br>
                    5pm - 'til late<br>
                    We have all the handbooks for beginners to experienced players. If you've never played before, that's not a problem
                    we can show you the ropes!<br>
                    Everyone welcome!

                </p>
            </div>
        </div>
    </div>
    <div class="event-box w-25">
        <div class="row">
            <div class="col">
                <h5 class="uncial-text text-center my-3"><b>Thursday</b></h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">No Events Yet</p>
            </div>
        </div>
    </div> 
    <div class="event-box w-50">
        <div class="row">
            <div class="col">
                <h5 class="uncial-text text-center my-3"><b>Friday</b></h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">
                    <b>Friday Night Magic!</b><br>
                    5pm - 'til late<br>
                    Come along and learn all there is to learn about one of the biggest TCGs out there.<br>
                    Everyone welcome!
                </p>
            </div>
        </div>
    </div> 
    <div class="event-box w-50">
        <div class="row">
            <div class="col">
                <h5 class="uncial-text text-center my-3"><b>Saturday</b></h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">
                    <b>1st & 3rd Saturday</b><br>
                    Come along and play your favourite role play games!<br>
                    Everyone welcome!
                    <br><br>
                    <b>2nd & 4th Saturday</b><br>
                    Come along and play with our wide selection of board games!<br>
                    Everyone welcome!
                    <br><br>
                    n.b. If there's a 5th Saturday in a month, there are no events on.
                </p>
            </div>
        </div>
    </div>
    <div class="event-box w-50">
        <div class="row">
            <div class="col">
                <h5 class="uncial-text text-center my-3"><b>Sunday</b></h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">
                    <b>Pokemon</b><br>
                    Come along with your favourite decks and challenge other players!<br>
                    Everyone welcome!
                </p>
            </div>
        </div>
    </div> 
</div>


{% endblock %}