{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-green uncial-text text-center my-3">Weekly Events</h2>
        </div>
    </div>
    <div class="event-box">
        <div class="row">
            <div class="col">
                <p class="uncial-text text-center my-3">Monday</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">No Events Yet</p>
            </div>
        </div>
    </div> 
    <div class="event-box">
        <div class="row">
            <div class="col">
                <p class="uncial-text text-center my-3">Tuesday</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">Games Workshop 5pm til late</p>
            </div>
        </div>
    </div>
    <div class="event-box">
        <div class="row">
            <div class="col">
                <p class="uncial-text text-center my-3">Wednesday</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">D&D</p>
            </div>
        </div>
    </div>
    <div class="event-box">
        <div class="row">
            <div class="col">
                <p class="uncial-text text-center my-3">Thursday</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">No Events Yet</p>
            </div>
        </div>
    </div> 
    <div class="event-box">
        <div class="row">
            <div class="col">
                <p class="uncial-text text-center my-3">Friday</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">Magic!</p>
            </div>
        </div>
    </div> 
    <div class="event-box">
        <div class="row">
            <div class="col">
                <p class="uncial-text text-center my-3">Saturday</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">1st & 3rd - RPG 2nd & 4th - Board Games. If a fifth week, no event</p>
            </div>
        </div>
    </div>
    <div class="event-box">
        <div class="row">
            <div class="col">
                <p class="uncial-text text-center my-3">Sunday</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">Pokemon</p>
            </div>
        </div>
    </div> 
</div>

{% endblock %}