{% extends "base.html" %}
{% block content %}
<h2 class="text-blue uncial-text text-center my-3">Special Events</h2>
{% for event in events %}
<div class="container w-50 text-center event-container">
    {% if event.image %}
        <img src="{{ event.image.url }}" class="event-img float-left">
        <img src="{{ event.image.url }}" class="event-img float-right">
    {% endif %}
    <h5><b>{{ event.name }}</b></h5>
    <!--safe used to allow formating of text-->
    <p><b>What is it?</b><br>{{ event.description | safe}}</p>
    <p><b>Date:</b> {{ event.date }}</p>
    <p><b>Time:</b> {{ event.time }}</p>
</div>
<!--If there are no events in database, the page isn't blank-->
{% empty %}
    <div class="container">
        <p class="text-blue text-center">No upcoming events.<br>Check back soon</p>
    </div>
{% endfor %}
{% endblock %}