{% extends "base.html" %}
{% load bag_tools %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-blue uncial-text text-center my-3">Shopping Bag</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive">
                <table class="table table-sm table-striped table-dark">
                    <thead class="text-blue">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Item Total</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}

                    <tr>
                        <!-- Image - col 1-->
                        <td class="p-3 w-25">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                        </td>
                        <!-- Name - col 2-->
                        <td class="py-3">
                            <p class="my-0 text-blue">{{ item.product.name }}</p>
                        </td>
                        <!--Price - col 3-->
                        {% if item.product.on_offer %}
                            <td class="py-3">
                                <p class="my-0 text-blue">£{{ item.product.offer_price }}</p>
                            </td>
                        {% else %}
                            <td class="py-3">
                                <p class="my-0 text-blue">£{{ item.product.price }}</p>
                            </td>
                        {% endif %}
                        <!--Quantity - col 4-->
                        <td class="py-3 w-25">
                            <form class="form update-form" method="POST" action="{% url 'update_bag' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-12">
                                        <div class="form-group w-75">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrease-qty btn btn-dark"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="decrease-qty_{{ item.item_id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-minus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control qty_input" type="number" name="quantity"
                                                    value="{{ item.quantity }}" min="1" max="5"
                                                    data-item_id="{{ item.item_id  }}" id="id_qty_{{ item.item_id  }}">
                                                <div class="input-group-append">
                                                    <button class="increase-qty btn btn-dark"
                                                        data-item_id="{{ item.item_id  }}"
                                                        id="increase-qty_{{ item.item_id  }}">
                                                        <span class="icon">
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <div>
                                                    <span class="remove-item btn btn-dark mx-2"
                                                        id="remove_{{ item.item_id }}" data-size="{{ item.size }}">
                                                        <i class="fas fa-trash green-text"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <a class="update-item btn btn-dark">Update</a>
                        </td>
                        <!--Item total - col 5-->
                        {% if item.product.on_offer %}
                            <td class="py-3">
                                <p class="my-0 text-blue">£{{ item.product.offer_price | offer_total:item.quantity }}</p>
                            </td>
                        {% else %}
                            <td class="py-3">
                                <p class="my-0 text-blue">£{{ item.product.price | offer_total:item.quantity }}</p>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <!--Total inc. delivery-->
                        <td colspan="5" class="pt-5 text-right text-blue">
                            <h6><b>Bag Total:</b> £{{ total|floatformat:2 }}</h6>
                            <h6><b>Delivery:</b> £{{ delivery|floatformat:2 }}</h6>
                            <h5 class="mt-4"><b>Grand Total:</b> £{{ grand_total|floatformat:2 }}</h5>
                            {% if free_delivery_in > 0 %}
                                <p class="mb-1">
                                    Free delivery in <b>£{{ free_delivery_in }}</b>
                                </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'checkout' %}" class="btn btn-dark">
                                <span class="text-blue"><b>Secure Checkout</b></span>
                                <span>
                                    <i class="fas fa-lock text-blue"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <!--Allow users to easily navigate back home if bag is empty-->
            {% else %}
                <p class="text-center text-blue uncial-text">Your bag is empty.</p>
                <a href="{ url 'home'}" class="btn btn-dark mb-3">Return Home</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include "products/includes/quantity.html"%}
    <script type="text/javascript">
        // update item quantity
        $('.update-item').click(function (e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })

        // remove item(s) from bag
        $('.remove-item').click(function (e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/bag/delete/${itemId}/`;
            var data = {
                'csrfmiddlewaretoken': csrfToken,
            }

            $.post(url, data)
                .done(function () {
                    location.reload();
                })
        })
    </script>
{% endblock %}