{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% block content %}

<div class="container h-100">
    <div class="row h-100">
        <div class="col-8 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                Check out our latest releases!
            </h1>
        </div>
        <div class="my-5">
            <a href="" class=" new-releases-btn btn btn-lg py-3">
                New Releases
            </a>
        </div>
    </div>
</div>

{% endblock %}