{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container home-banner text-center">
    <div class="row">
        <div class="col-md-2 my-1">
            <img class="home-img" src="{% static 'media/homegamesworkshop.jpg' %}">
            <h5 class="uncial-text bluetext py-2">
                Games Workshop
            </h5>
        </div>
        <div class="col-md-2 my-auto">
            <h5 class="uncial-text bluetext">
                TCG
            </h5>
            <img class="home-img" src="{% static 'media/hometcg.png' %}">
        </div>
        <div class="col-md-2 my-auto">
            <img class="home-img my-1" src="{% static 'media/homerpg.png' %}">
            <h5 class="uncial-text bluetext py-4">
                RPG
            </h5>
        </div>
        <div class="col-md-2 my-auto">
            <h5 class="uncial-text bluetext">
                Paints
            </h5>
            <img class="home-img" src="{% static 'media/homepaints.png' %}">
        </div>
        <div class="col-md-2 my-auto">
            <img class="home-img" src="{% static 'media/homegames.png' %}">
            <h5 class="uncial-text bluetext py-4">
                Games
            </h5>
        </div>
        <div class="col-md-2 my-auto">
            <h5 class="uncial-text bluetext">
                Accessories
            </h5>
            <img class="home-img" src="{% static 'media/homedice.png' %}">
        </div>

    </div>
</div>
{% endblock %}