{% extends "base.html" %}
{% block content %}
<div class="container h-100 ">
    <div class="row h-100">
        <div class="col-4 col-md-4 my-auto">
            <h1 class="display-4 uncial-text">
                Shop Warhammer Here
            </h1>
            <div class="my-5">
                <h4>
                    <a href="" class="btn btn-lg btn-dark rounded-0 text-uppercase py-3">Warhammer</a>
                </h4>
            </div>
        </div>
        <div class="col-6">
            <img src="media/home.jpg" class="py-2 px-5">
        </div>
    </div>
</div>
{% endblock %}