{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-blue uncial-text text-center my-3">Profile</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h5 class="text-blue uncial-text text-center">Delivery Information:</h5>
            <!--Allow users to save delivery address on profile-->
            <form class="custom-form w-75 bg-dark mb-5" action="{% url 'profile' %}" method="POST" id="update-profile">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn btn-secondary">Update</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!--see previous orders-->
            <h5 class="text-blue uncial-text text-center">Previous Orders:</h5>
            <div class="table w-75 mt-1 mx-auto mb-1 table-striped table-dark table-responsive previous-orders">
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th>Order No</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a title="{{ order.order_number }}">
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            <td>
                                {{ order.date }}
                            </td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                        <li>{{ item.product.name }} x {{ item.quantity }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                £{{ order.grand_total}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
