{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-green uncial-text text-center my-3">Order Confirmation</h2>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p class=text-green>Thank you for your order.<br>
            An email will be sent to {{ order.email }} confirming your order details.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'home' %}" class="btn btn-dark my-auto">Return Home</a>
        </div>
    </div>
</div>


{% endblock %}