html {
    height: 100%;
    background-color: black;
}

/* general styling  */

.page-background{
    background-size: cover;
    height: fit-content;
    background-color: black;
    overflow-x: hidden;
}

.rounder {
    border-radius: 10px;
}

.bg-blue {
    background-color: #00a7e9;
}

.heading {
    max-height:300px;
}

.h1 a:hover, a:link, a:visited, a:active {
    text-decoration: none !important;
}

.uncial-text {
    font-family: 'Uncial Antiqua', sans-serif;
}

.text-blue {
    color: #049bea;
}

.bluetext {
    color:#0f4b63;
}

.center {
    margin: auto;
}


/*forms and card styling*/

.custom-form {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
}

.login-form {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.card-bg-blue {
    background-color: #93bed5 !important;
}

.event-box{
    background-color: #93bed5;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    border: 2px solid white;
}

.card-name {
    height: 100px;
}

.card-price {
    height: 75px ;
}

/* product cards */

.card {
    margin-bottom: 10px;
    text-align: center;
    height: 425px;
    width: 250px;
    margin: 10px auto;
}

.img-container {
    height: 250px;
    border-bottom: #172b35 1px solid;
}

/* specific buttons*/

.previous_orders {
    max-height: 500px;
    width: 80%;
}


.logout-button {
    margin-left: auto;
    margin-right: auto;
}

.back-to-top{
    margin-left: 20px;
    padding: 10px;
    color: white;
}

/* Base Template Styling */

header {
    background-color: black;
    height: fit-content;
}

.bottom-nav {
    background-color: black;
    color: white;
    margin: 1px 0;
}

.top-nav {
    background-color: black;
    margin: 0 0 1px 0;
}

.zombie {
    height: 90px;
    left: 25%;
    opacity: 0.9;
}

.footer {
    background-color: black;
    margin-top: 1px;
}

/* index.html */

.home-container {
    position:relative;
    width: 100%;
}

.home-container img {
    border-radius: 10px;
    border: 2px white solid;
    margin-top: 15px;
    width: 85%;
    max-height: 350px;
}

.home-container a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border: 2px #00a7e9 solid;
}

/*image styling*/
.event-img {
    max-height: 100px;
    max-width: 100px;
}

.event-container {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #93bed5;
    border: 2px solid white;
}

.card-img {
    max-height: 230px;
    max-width: 225px;
    border: #172b35 solid 1px;
    background-color: white;
    margin-top: 10px;
}


/* toasts */

.message-container{
    position: fixed;
    top:72px;
    right: 15px;
    z-index: 999999999999999;
}

.toast-custom {
    overflow: visible;
}

.toast-capper{
    height: 2px;
}

.bag-notification {
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* remove scroll bar on number input boxes - W3 schools */
input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/*Media Queries for different devices*/



/*Stripe*/
.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

#card-element {
    color: #000;
    border: 1px solid #000;
}

