<nav class="navbar navbar-expand-lg bottom-nav row">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-green uncial-text" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Games Workshop
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'products' %}?category=GamesWorkshop">All Games Workshop</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=40K">40K</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=Age Of Sigmar">Age of Sigmar</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=Books">Books</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-green uncial-text" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    TCG
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'products' %}?category=TCG">All TCG</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=Pokémon">Pokemon</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=Magic! The Gathering">Magic! The Gathering</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=Digimon">Digimon</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=Yu-Gi-Oh!">Yu-Gi-Oh!</a>
                </div>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-green uncial-text" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    RPG
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'products' %}?category=RPG">All RPG</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=Dungeons Dragons">Dungeons & Dragons</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=DD Miniatures">D&D Miniatures</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=Vampire Masquerade">Vampire Masquerade</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=Path Finder">Path Finder</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=Star Finder">Star Finder</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=Warlock Tiles - Miniatures">Warlock Tiles - Miniatures</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-green uncial-text" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Paints
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'products' %}?category=Paint">All Paint</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Contrast</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Base</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Layer</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Technical</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Wash</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Dry</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Air</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-green uncial-text" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Games
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'products' %}?category=Games">All Games</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=Card">Card Games</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=Board">Board Games</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=Puzzle">Puzzle Games</a>
                </div>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-green uncial-text" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Accessories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'products' %}?category=Accessories">All Accessories</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=Card Storage">Card Storage</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=Paint Brushes">Brushes</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=Dice Bags">Dice & Bages</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'products' %}?sub_cat=Play Mats">Play Mats</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-green uncial-text" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Events
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'products' %}?category=Events">All Events</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Pre-Release</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Board Games</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">...</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-green uncial-text" href="">Sale</a>
            </li>
        </ul>
        <div class="col-4">
            <!--Search-->
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group">
                    <input class="form-control border" type="text" name="search" placeholder="Search">
                    <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search text-green"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>