{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h2 class="text-green uncial-text text-center my-3">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="text-green text-center">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}" class="text-center custom-form text-green bg-dark w-25 ">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn btn-secondary" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p class="text-green text-center">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
