{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <!--Own styling-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">
    <!--Stripe-->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/e79c061fa8.js" crossorigin="anonymous"></script>
    <!--JQuery / Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>The Games Pit</title>

</head>

<body>
    <!--Top nav - search, link to home and shopping bag-->
    {% include 'includes/top-nav.html' %}
    <header class="row py-5">
        <div class="col-2">
            <img src="" class="zombie my-auto mx-4">
        </div>
        <div class="col-8 my-auto mx-0">
            <h1 class="uncial-text">The Games Pit</h1>
        </div>

    </header>
    <!-- Bottom nav - different shopping areas -->
    {% include 'includes/bottom-nav.html' %}

    <div class="row">
        {% if messages %}
        <div class="message-container">
        {% endif %}
        </div>
    </div>
    <div class="row">
    <div class="page-background">
        
        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block postloadjs %}
        {% endblock %}
    </div>
</div>

    <!-- Footer-->
    <footer class="py-5 footer row">
        <div class="col-4">
            <p class="m-0 text-center text-white">
                <u>Social Media</u><br>
                <i class="fas fa fa-twitter"></i><br>
                <i class="fas fa fa-facebook"></i>
            </p>
        </div>
        <div class="col-4">
            <p class="m-0 text-center text-white">
                <u>Find Us At:</u><br>
                The Games Pit<br>
                Zetland Street<br>
                Wakefield<br>
                WF1 1QT<br>
                <br>
                01924 368794
            </p>
        </div>
        <div class="col-4">
            <img src="">
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

