{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="uncial-text my-5 text-green">{{ category}}</h3>
            <div class=" mt-1 mb-2 text-right">
                <div class="float-right mt-0">
                    <div class="sort-select-wrapper w-20">
                        <select id="sort-selector"
                            class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                                (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                                (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                                (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                                (Z-A)</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    {% for product in products %}
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <div class="card card-bg-blue">
            <div class="my-auto img-container my-auto">
                {% if product.in_stock %}
                <a href="{% url 'product_info' product.id %}">
                    <img class="card-img-top card-img " src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'product_info' product.id %}">
                    <img class="card-img-top card-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                <span class="badge badge-danger">Out of Stock</span>
                {% endif %}
            </div>

            <div class="card-body card-name my-0">
                {% if product.extra_cat %}
                    <div class="pb-0">
                        <div class="row pb-0">
                            <div class="col">
                                <p class="text-center my-0 py-0">{{ product.extra_cat }}</p>
                                <p class="my-0 py-0"><b>{{ product.name }}</b></p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p class="my-0 py-0"><b>{{ product.name }}</b></p>
                {% endif %}
            </div>

            <div class="card-footer card-price pt-0">
                <div class="row">
                    <div class="col">
                        
                        {% if product.on_offer %}
                        <p class="text-center text-danger my-0 py-0"><strike>£{{ product.price }}</strike></p>
                            <p class="text-center my-0 py-0"><b>£{{ product.offer_price }}</b></p>
                            <span class="badge badge-danger">Sale</span>
                        {% else %}
                            <p class="text-center"><b>£{{ product.price }}</b></p>
                        {% endif %}
                        {% if request.user.is_superuser %}
                            <a class="btn btn-dark btn-sm" href="{% url 'admin_edit_product' product.id %}">Edit</a>
                            <a class="btn btn-dark btn-sm" href="{% url 'admin_delete_product' product.id %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="back-to-top mx-6">
        <a class="btt-link btn btn-dark text-center text-white">
            Back To Top
        </a>
    </div>
</div>



{% endblock %}

{% block postloadjs %}
{{ block.super }}
<!--Scroll to top-->
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
<!--Sort functionality-->
<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}