{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col text-white text-center">
            <h3>Products</h3>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        {% for product in products %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card h-80 border-0">
                    {% if product.image %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                    <div class="card-body pb-0">
                        <p class="mb-0">{{ product.name }}</p>
                    </div>
                    <div class="card-footer bg-white pt-0 border-0 text-left">
                        <div class="row">
                            <div class="col">
                                <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}